/* ================= TOP BAR ================= */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 0;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;

  margin-bottom: 20px;
}

/* ================= LEFT ================= */
.leftTop {
  display: flex;
  align-items: center;
  gap: 28px;
}

.items {
  font-size: 14px;
  font-weight: 600;
  color: #222;
  font-weight: bold;

}

/* ================= HIDE FILTER ================= */
.hideBtn {
  background: none;
  border: none;

  font-size: 13px;
  color: #9b9b9b;

  cursor: pointer;
  text-decoration: underline;

  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s;
}

.hideBtn:hover {
  color: #000;
}

/* ================= ARROW ================= */
.arrow {
  font-size: 14px;
  color: #9b9b9b;
}

/* ================= RIGHT ================= */
.sortWrapper {
  position: relative;
}

/* SORT BUTTON */
.sortBtn {
  background: none;
  border: none;

  font-size: 14px;
  font-weight: 600;
  color: #222;

  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 6px;
}

/* ================= DROPDOWN ================= */
.dropdown {
  position: absolute;
  top: 40px;
  right: 0;

  width: 240px;

  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

  z-index: 100;
}

.dropdown p {
  padding: 12px 16px;
  font-size: 13px;
  color: #333;
  cursor: pointer;
}

.dropdown p:hover {
  background: #f5f5f5;
}

.active {
  font-weight: 600;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .topBar {
    padding: 12px 0;
  }

  /* Hide item count */
  .items {
    display: none;
  }

  /* Layout becomes 2 equal parts */
  .topBar {
    display: flex;
  }

  .leftTop,
  .sortWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Divider line */
  .leftTop {
    border-right: 1px solid #e5e5e5;
  }

  /* FILTER button */
  .hideBtn {
    font-size: 14px;
    font-weight: 600;
    color: #222;
    text-decoration: none;
  }

  .hideBtn span {
    display: none; /* remove arrow */
  }

  /* SORT */
  .sortBtn {
    font-size: 14px;
  }

.icon {
  font-size: 16px;
  transition: transform 0.2s ease;
}

.iconOpen {
  transform: rotate(180deg);
}

  /* DROPDOWN FULL WIDTH */
  .dropdown {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    width: 100%;

    border-left: none;
    border-right: none;
  }
}